<header>
    <h1> CHATTER NOTEBOOK SCHOOL PROJECT</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ITfb4GE-u1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
        <a mat-raised-button color="accent" style="margin-right: 10px" href="https://reneekrom.site" target="blank">Hire Me</a>
        <a mat-raised-button href="https://github.com/chattertechno/notebook" target="blank">Source code</a>
    </p>
</header>


